# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

scratch
node_modules
client_secret.json
config.json
skills
scratch
npm-debug.log
editorial-service.json